* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    color: white;
    width: 85vw;
    border: red solid 3px;
    border-radius: 1rem;
    padding: 2rem;
    box-shadow: tomato 10px 10px 10px;
}


div label {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#tekstfelt {
    background-color: white;
    resize: none;
    font-size: 1.2rem;
    border-radius: 0.5rem;
}

.resultater {
    margin-top: 2rem
}

.resultater p {
    font-size: 1rem;
    padding: 5px;
}

@media (min-width:769px) and (max-width:1024px) {
    .box {
        width: 65vw;
    }
}

@media (min-width:1025px) {
    .box {
        width: 55vw;
    }
}